.payment-Style {
    font-weight: 400;
    padding: 10px;
    font-size: 20px;
    background-color: rgba(240, 233, 233, 0.747);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.footer-header {
    color: white;
    font-size: 15px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

.footer-body {
    color: rgba(245, 245, 245, 0.692);
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

div.footer-body col.hover {
    cursor: pointer;
}

.footer-style {
    background-color: black;
}

#horzontal-line {
    background-color: rgba(245, 245, 245, 0.692);
}