#productItem {
    display: block;
}

#btnWomen {
    width: 150px;
}

#btnMen {
    width: 150px;
}
.rating > i {
    color: green;
}
.productNamePrice {
    font-family: monospace;
    font-size: 25px;
    color: black;
}
#productDescription {
    font-size: 20px;
    font-weight: 900;
    font-family: fantasy;
    color: peru;
}
#productDescCard {
    background-color: rgba(255, 255, 255, 0.151);
}
#recommend-section-style {
    display: block;
    width: 100%;
    text-align: left;
}

#recHeader {
    font-weight: 600;
    font-size: 2em;
    color: rgba(0, 0, 0, 0.74);
    font-family: cursive;
}