#productItem {
    display: block;
}

#btnWomen {
    width: 150px;
}

#btnMen {
    width: 150px;
}
.rating > i {
    color: green;
}
.productName {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
    font-size: 18px;
    color: rgba(41, 38, 38, 0.801);
}
.productPrice {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: rgba(97, 90, 90, 0.788);
}
#productDescription {
    font-size: 18px;
    font-weight: 900;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(34, 31, 31);
}
#productDescCard {
    background-color: rgba(255, 255, 255, 0.151);
}
#recommend-section-style {
    display: block;
    width: 100%;
    text-align: left;
}

#recHeader {
    font-weight: 400;
    font-size: 2em;
    color: rgba(0, 0, 0, 0.74);
    font-family: 'Times New Roman', Times, serif;
}

.image-gallery-slide img {
    height: 500px;
}

#recommendProductImage {
    width: 450px;
    height: 400px
}
#recommendProductImageCar:hover{
    cursor: pointer;
}